#debug or release

RUN_MODE = debug

[app]
PAGE_SIZE=

[server]
HTTP_PORT=
READ_TIMEOUT=
WRITE_TIMEOUT=

[database]
TYPE=
USER=
PASSWORD=
HOST=
NAME=
TABLE_PREFIX=

[queue]
USER=
PASSWORD=
HOST=

[redis]
HOST=
PASSWORD=
INDEX=

[jwt]
JWTSECRET= 
TOKEN_EXPIRE= 

[aws]
S3_KEY=
S3_SECRET=
S3_REGION=
S3_BUCKET=

[mail]
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_PORT=